body {
    background-color: white;
}

.Parte_superior {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.Botones {
    display: flex;
    justify-content: right;
}

.logo {
    height: 50px;
}

.login {
    padding: 10px 20px;
    background-color: rgb(178, 186, 96);
    color: white;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 10px;
}

.productos {

    display: flex;
    height: 100px;

}